:root {
  --primary-font: "Space Grotesk", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --tertiary-font: "IBM Plex Sans", sans-serif;
  --primary-color: #1e1e1e;
  --secondary-color: #f1eff3;
  --accent-color: #0b013598;
  --second-accent: #2e2d2d4b;
}

html {
  overflow-x: hidden;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/media/hero-bg-img.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 150px 0;
  text-align: center;
}

header h1 {
  font-family: var(--primary-font);
  font-size: 128px;
  margin: 0;
  line-height: 1.5;
  color: var(--primary-color);
}

header h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--secondary-color);
  padding: 22px 0;
}

.cta-text {
  color: var(--secondary-color);
  font-family: var(--tertiary-font);
  font-size: 18px;
}

button {
  margin: 10px auto;
  padding: 0 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.7);
  background-color: var(--second-accent);
  color: var(--accent-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  font-family: monospace;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 72px;
  }

  header h3 {
    padding: 0 18px;
    font-size: 22px;
    line-height: 1.6;
  }
}

@media (max-width: 420px) {
  header h1 {
    font-size: 64px;
  }

  header h3 {
    padding: 0 18px;
    font-size: 20px;
    line-height: 1.6;
  }
}

/*About Section*/
.about-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
  background-color: var(--secondary-color);
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.about-container h2 {
  font-family: var(--primary-font);
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  color: var(--accent-color);
}

.about-info {
  font-size: 25px;
  font-family: var(--tertiary-font);
  padding: 0 25px;
  line-height: 1.7;
  color: var(--primary-color);
  opacity: 80%;
}

.about-img {
  padding: 0 55px;
  max-width: 480px;
  margin: 10px auto;
  border-radius: 25%;
}

.about-subsection {
  margin: 22px 0;
}

.about-subsection h2 {
  margin: 30px 0;
}

@media (max-width: 1200px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .about-container {
    padding: 60px 0;
  }

  .about-container h2 {
    font-size: 44px;
    opacity: 80%;
  }

  .about-info {
    font-size: 22px;
  }

  .about-img {
    padding: 0 50px;
    max-width: 450px;
  }
}

@media (max-width: 768px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .about-container {
    padding: 50px 0;
  }

  .about-container h2 {
    font-size: 28px;
    opacity: 90%;
  }

  .about-info {
    font-size: 15px;
    margin-bottom: 28px;
  }

  .about-img {
    padding: 0 35px;
    max-width: 280px;
  }
}

@media (max-width: 420px) {
  .about-container h2 {
    font-size: 18px;
    opacity: 90%;
    padding: 0 12px;
  }

  .about-info {
    font-size: 15px;
    text-align: center;
  }

  .about-img {
    padding: 0 35px;
    max-width: 180px;
  }
}

/*Features sections/Cards */

.features-container {
  background-color: var(--primary-color);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
  color: var(--secondary-color);
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.features-container h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.features-text {
  color: var(--accent-color);
  font-family: var(--tertiary-font);
  font-size: 20px;
  padding: 0 20px;
  line-height: 1.7;
}

.cards {
  width: 100%;
  max-width: 380px;
  height: 530px;
  background-color: var(--secondary-color);
  margin: 12px auto;
  box-shadow: 5px 6px 8px rgba(11, 1, 23, 0.7);
}

.card-img {
  width: 100%;
}

.cards h4 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 28px;
  padding: 0 20px;
  margin: 0;
  margin-top: 15px;
}

.card-btn {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.card-btn .cta-text {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .features-container {
    padding: 50px 0;
  }
  .features-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  .features-container h2 {
    font-size: 48px;
    padding: 0 15px;
  }
}

@media (max-width: 420px) {
  .features-container {
    padding: 40px 0;
  }

  .features-grid {
    grid-gap: 0;
  }

  .features-container h2 {
    font-size: 32px;
    padding: 0 15px;
  }

  .cards {
    width: 100%;
    max-width: 280px;
    height: 520px;
  }

  .features-text {
    font-size: 18px;
    line-height: 1.4;
  }
}

/*Embeds*/
.visual-embeds {
  background-color: var(--accent-color);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
}

.visual-embeds h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  text-align: center;
  color: var(--secondary-color);
  margin: 0;
}

.visual-embeds p {
  color: var(--secondary-color);
}

.visual-grid-container {
  display: grid;
  grid-gap: 5px;
}

.video-group-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.video-group-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.map-embed {
  background-color: var(--secondary-color);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
}

.map-embed h2 {
  font-family: var(--primary-font);
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  color: var(--accent-color);
}

.map-embed p {
  font-size: 25px;
  font-family: var(--tertiary-font);
  padding: 0 25px;
  line-height: 1.7;
  color: var(--primary-color);
  opacity: 80%;
}

.globe-img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .visual-embeds h2 {
    font-size: 48px;
  }

  .map-embed h2 {
    font-size: 20px;
    padding: 0 15px;
  }

  .map-embed p {
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
  }

  .globe-img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 420px) {
  .visual-embeds {
    padding: 40px 0;
  }

  .visual-embeds h2 {
    font-size: 28px;
  }

  .visual-embeds p {
    font-size: 16px;
    text-align: center;
  }

  .map-embed h2 {
    font-size: 18px;
  }

  .map-embed p {
    font-size: 15px;
    line-height: 1.3;
    padding: 0 15px;
    text-align: center;
  }

  .globe-img {
    width: 250px;
    height: 250px;
  }
}

/*Footer styles*/

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 8)),
    url("/media/hero-bg-img.jpg");

  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 100px 0;
}

.footer-section {
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 45px;
}

footer h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  margin: 0;
  color: var(--secondary-color);
}

.footer-text {
  font-family: var(--tertiary-font);
  color: var(--secondary-color);
  margin: 12px 0;
  line-height: 1.6;
}

.resource-link {
  text-decoration: underline;
  font-family: var(--tertiary-font);
  font-size: 15px;
  font-style: italic;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resource-link:hover {
  color: var(--accent-color);
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

.logo-block {
  margin-top: 20px;
}

.logo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .footer-section {
    grid-template-columns: 1fr; /* Stack items in one column */
    grid-gap: 20px;
  }

  .footer-text {
    text-align: start;
    margin: 5px 0;
  }
}

@media (max-width: 420px) {
  footer h3 {
    text-align: center;
  }

  .footer-text {
    text-align: center;
    margin: 8px 0;
  }

  footer ul {
    text-align: center;
  }

  .resource-link {
    text-align: center;
    font-size: 12px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
}
